# Add this to your ActiveRecord model with:
# swifter_enum :<%= file_name %>, <%= class_name %>Enum

class <%= class_name %>Enum < SwifterEnum::Base

  def self.values
    # Insert your values here as you would for a normal enum
    # { foo: 1, bar: 2 }.freeze

    { }.freeze
  end

  # you can now define methods on the enum
  # this would allow you to access YourModel.<%= file_name %>.squared
  #def squared
  # @value * @value
  #end

end
